* {
	box-sizing: border-box;
	font-family: inherit;
}

html {
	background-color: #ffa98e;
}

body {
	font-family: 'Roboto Slab', serif;
}

h1 {
	font-size: 40px;
	font-weight: bold;
	cursor: default;
}

h2 {
	font-size: 25px;
	margin: 10px 0;
}

ul {
	background-color: white;
	border-radius: 4px;
	padding: 16px;
	margin: 20px 0;
}

li {
	font-size: 16px;
}

li:nth-of-type(n+2) {
	margin-top: 10px;
}

li:nth-last-of-type(1) {
	margin-bottom: 10px;
}

#escolha {
	font-weight: bold;
	margin-bottom: 0;
	color: rgb(159, 6, 52);
}

strong {
	font-weight: bold;
	color: #6e1517;
}

button {
	height: 40px;
	font-size: 20px;
	background-color: #df7664;
	outline: none;
	border: none;
	color: white;
	border-radius: 4px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
}

button::-moz-focus-inner {
	border: 0;
}

button:hover {
	box-shadow: 2px 2px 9px 0px rgba(0, 0, 0, 0.16);
	background-color: #e47764;
}

.buttons, .vender {
	margin: 20px 0;
}

.logo-container {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 20px 0;
}

.center {
	text-align: center;
}

.header-container {
	position: sticky;
	top: 0;
	background-color: white;
	box-shadow: 0px -5px 5px 10px rgba(0,0,0,0.08),
				0px -8px 2px 10px rgba(0,0,0,0.08);
}

.header {
	overflow: auto;
}

.header-bottom {
	margin: 20px 0;
	position: relative;
}

#achievement {
	position: absolute;
	display: flex;
	align-items: center;
	right: 0;
	bottom: 0;
	color: #6e1517;
	background-color: #ffc794;
	border-radius: 4px;
	opacity: 0;
	transition: opacity 0.25s;
}

#achievement .material-icons {
	margin: 0 6px;
	user-select: none;
}

#achievement h3 {
	margin-left: 20px;
	margin-right: 14px;
}

.container {
	width: 1140px;
	margin: 0 auto;
}

.buttons {
	display: flex;
}

.buttons button {
	flex: 1;
}

.buttons button:nth-child(n+2) {
	margin-left: 10px;
}

@media (max-width: 1300px) {
	.container {
		width: 80%;
	}
	.buttons {
		flex-direction: column;
	}
	.buttons button:nth-child(n+2) {
		margin-left: 0;
		margin-top: 10px;
	}
}
